
*{
  margin: 0;
  padding: 0;
}
#root{
  height:100vh;
}
.chat-component{
  height:100vh;
}
.room-chat{
  height:90%;
  width:100%;
  display:flex;
  box-sizing: border-box;
}
.rooms{
  width:25%;
  margin-right:5px;
  background: #6EADEC;
  padding-top:3vh;
  overflow:auto;
  display: flex;
  flex-direction: column;
}
.chat-window{
  width:75%;
  border: 1px solid rgb(172, 171, 171);
  opacity:0.6;
  border-radius:5px;
  overflow: auto;
}
.rooms h2{
  color:white;
  text-transform: uppercase;
  font-size:20px;
  margin-bottom: 2vh;
}
.rooms-container{
  width:80%;
  margin:0 auto;
  flex:1;
  overflow: auto;
}
.rooms ul{
  color:white;
  list-style: none;
  display: inline;
}
.available-rooms{
  width:80%;
  margin:0 auto;
  flex:1;
  overflow: auto;
}
.rooms li{
  width:80%;
  font-size:22px;
  margin:5px 0 5px 0;
  opacity:0.7;
  cursor: pointer;
  display:flex;
  justify-content: space-between;
}
.rooms span{
  max-width:80%;
  flex:1;
  overflow-wrap: break-word;
}
.rooms ul li i{
  position: relative;
  top: 10px;
}
.rooms li:hover{
  opacity:1;
}
.add-room{
  width:25%;
  margin-right:5px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  cursor:pointer;
}
.add-room p:first-child{
  margin-left:5px;
}
.footer{
  height:10%;
  width:100%;
  display:flex;
  box-sizing: border-box;
}
.input-block{
  width: 75%;
  height:100%;
  background: rgb(235, 235, 235);
}
form{
  height:100%;
}
.text{
  box-sizing: border-box;
  padding-left:5px;
  padding-bottom:10px;
  width:100%;
  height:90%;
  border:none;
  background: rgb(235, 235, 235);
  font-size:16px;
  overflow: auto;
  align-content: start;
  resize:none;
  cursor:pointer;
}
.chat-window::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
.chat-window::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: rgb(74, 181, 243);
}
.chat-content{
  display: flex;
  flex-direction: column;
  padding:15px;

}
.messages {
  margin:10px;
  display: flex;
  flex-direction: column;
  font-size:22px;
}
.message {
  padding: 8px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}
.user{
  align-items: flex-end;
}
.user .message:after{
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 38px solid transparent;
  border-left-color: #d1cd23;
  border-right: 0;
  border-top: 0;
  margin-top: -19px;
  margin-right: -20px;
}
.user .message {
  position: relative;
  background: #d1cd23;
  border-radius: .4em;
}
.partner .message{
  position: relative;
  background: #5c6cfc;
  border-radius: .4em;
}
.partner .message:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 38px solid transparent;
  border-right-color: #5c6cfc;
  border-left: 0;
  border-top: 0;
  margin-top: -19px;
  margin-left: -20px;
}
.partner{
  align-items:flex-start;
}
.container{
  padding-top:3vh;
  width:40vw;
  height:20vh;
  position: absolute;
  top:30%;
  left:50%;
  margin-left:-20vw;
  background:rgb(0, 230, 230);
  border-radius:20px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.create-room{
  text-align: center;
  font-family: Arial;
}
.create-room input{
  border-radius:10px;
  height:3vh;
  font-size:20px;
  font-weight:bold;
  padding:0 10px;
}
.create-room h2{
  margin-bottom:2.5vh;
}
.button{
  border: 1px solid grey;
  padding:10px 20px;
  border-radius:15px;
  cursor:pointer;
  transition:0.6s ease;
}
.create-room input:focus{
  outline-width: 0;
}
.room-buttons{
  width:80%;
  margin:0 auto;
  margin-top:20px;
  display:flex;
  justify-content: space-between;
}
.create-room a:hover{
  background: rgb(204, 102, 153);
  transition:0.6s ease;
}
.close {
  width: 32px;
  height: 32px;
  position: relative;
  right:0;
  justify-content: space-between;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 4px;
  border-radius: 5px;
  background-color: #fff
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.validation{
  padding-top:0;
  background:rgb(74, 181, 243);
  height:30vh;
  display: flex;
  overflow: hidden;
}
.validation h2{
  margin:1vh 0;
}
.field{
  max-width:80%;
  flex-direction: column;
}
.onEmpty{
  position: relative;
  bottom:1vh;
  border:1px solid;
  padding:10px 5vw;
  border-radius: 30px;
  background:#FF4797;
  color:white;
}
.validation input{
  padding-left:10px;
  font-size:22px;
  border-radius: 10px;
  height:3vh;
  width:25vw;
}
.login-button .button{
  text-decoration: none;
  color:white
}
.join-room{
  text-decoration: none;
  position: relative;
  bottom:2.5vh;
  font-size:40px;
  font-weight: bold;
  color:white;
}

.logout i{
  font-size:25px;
  width:25px;
  color:white;
  position: relative;
  bottom:2vh;
  left:20vw;
  display: block;
  cursor: pointer;
}
.login-button{
  display: flex;
  width:25vw;
  margin-top:3vh;
  justify-content: flex-end;
}
.login-button a:hover{
  background: #5C4FCD;
  transsition: 0.6s ease;
}
.lds-ellipsis {
  display: inline-block;
  position: absolute;
  top:40%;
  left:calc(50% - 40px);
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}