body{
  margin:0;
  padding:0
}
#root{
  height:100vh;
}
.chat-component{
  height:100vh;
}
.room-chat{
  height:90%;
  width:100%;
  display:flex;
  box-sizing: border-box;
}
.rooms{
  width:25%;
  margin-right:5px;
  background: #6EADEC;
  overflow:auto;
}
.chat-window{
  width:75%;
  border: 1px solid rgb(172, 171, 171);
  opacity:0.6;
  border-radius:5px;
  overflow: auto;
}
.rooms h2{
  color:white;
  text-transform: uppercase;
  font-size:22px;
}
.rooms-container{
  width:80%;
  margin:0 auto;
}
.rooms-container ul{
  color:white;
  list-style: none;
}
.rooms-container li{
  font-size:18px;
  margin:5px 0 5px 0;
  opacity:0.7;
  cursor: pointer;
}
.rooms-container li:hover{
  opacity:1;
}
.add-room{
  width:25%;
  margin-right:5px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  cursor:pointer;

}
.add-room p:first-child{
  margin-left:5px;
}
.footer{
  height:10%;
  width:100%;
  display:flex;
  box-sizing: border-box;
}
.input-block{
  width: 75%;
  height:100%;
  background: rgb(235, 235, 235);
}
form{
  height:100%;
}
.text{
  box-sizing: border-box;
  padding-left:5px;
  padding-bottom:10px;
  width:100%;
  height:90%;
  border:none;
  background: rgb(235, 235, 235);
  font-size:16px;
  overflow: auto;
  align-content: start;
  resize:none;
  cursor:pointer;
}
.chat-window::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
.chat-window::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: rgb(74, 181, 243);
}
.chat-content{
  display: flex;
  flex-direction: column;
  padding:15px;

}

.messages {
  margin:10px;
  display: flex;
  flex-direction: column;
  font-size:22px;
}
.message {
  padding: 8px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}
.user{
  align-items: flex-end;

}
.user .message:after{
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 38px solid transparent;
  border-left-color: #d1cd23;
  border-right: 0;
  border-top: 0;
  margin-top: -19px;
  margin-right: -20px;
}
.user .message {
  position: relative;
  background: #d1cd23;
  border-radius: .4em;
}
.partner .message{
  position: relative;
  background: #5c6cfc;
  border-radius: .4em;
}
.partner .message:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 38px solid transparent;
  border-right-color: #5c6cfc;
  border-left: 0;
  border-top: 0;
  margin-top: -19px;
  margin-left: -20px;
}
.partner{
  align-items:flex-start;
}
